.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item--color {
  background-color: #eeeeee;

  .advantages__subtitle {
    color: #333333;
    padding-top: 20px;
  }

  .advantages__description {
    color: #333333;
    padding-top: 28px;
  }
}

.advantages__color-area {
  background-color: #81b3d2;
  color: #ffffff;

  .advantages__subtitle {
    padding-top: 11px;
  }

  .advantages__description {
    padding-top: 17px;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages__subtitle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.advantages__image {
  background-color: #ffffff;
}
