.copyright__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-right: 13px;
  cursor: pointer;
}

.copyright__htmlacademy-logo {
  margin: 0;
  width: 27px;
  height: 35px;
  margin-left: auto;
  margin-bottom: 23px;
}
