.copyright {
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
  }
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-right: 13px;
  cursor: pointer;
  margin-top: 7px;
}

.copyright__htmlacademy-logo {
  margin: 0;
  width: 27px;
  height: 35px;
  margin-left: auto;
}
