.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  // text-align: center;
  margin: 0;
  margin-top: 44px;
}

.hotel-search__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  // text-align: center;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 32px;
}

.hotel-search__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 284px;
  height: 58px;
  margin-top: 32px;
  margin-bottom: 49px;

  &:hover {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 30%);
  }
  &:disabled {
    background-color: #e5e5e5;
  }
}

// .hotel-search__link:active {
//   color: rgb(255, 255, 255, 30%);
// }
