.intro-index {
  display: flex;
  flex-direction: column;
  // padding-top: 32px;
  // padding-bottom: 32px;
  padding: 32px 20px 32px 18px;

  @media (min-width: @tablet-width) {
    padding: 48px 124px 56px 124px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 359px 44px 357px;
  }
}

.intro-index__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
  // margin-top: 32px;
  // margin-right: 20px;
  // margin-left: 18px;

  // @media (min-width: @tablet-width) {
  //   margin-top: 47px;
  //   margin-right: 124px;
  //   margin-left: 124px;
  // }
}

.intro-index__text {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
