.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
}

.main-header__logo {
  position: absolute;
  display: flex;
  height: 96px;
  // right: 525px;

  @media (min-width: @mobile-width-only) {
    // right: 2px;
  }

  @media (min-width: @tablet-width) {
    // right: 270px;
  }
}
