.main-nav__toggle {
  position: absolute;
  top: -25px;
  left: -25px;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 17px 17px;
  margin-left: 25px;
  margin-right: 20px;
  fill: #81b3d2;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: @mobile-width-only) {
    min-height: 280px;

    &::before {
      content: "";
      position: absolute;
      bottom: 48px;
      z-index: 2;
      min-width: 320px;
      height: 7px;
      box-shadow: inset -2px 0 8px -3px fade(#000000, 40%);
      width: 100%;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 56px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 29px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 91px;
    padding-right: 71px;
  }
}

.main-nav__left-list {
  margin: 0;

  // @media (min-width: @mobile-width-only) {
  //   display: none;
  // }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;

    .site-list__item {
      justify-content: flex-start;
    }
  }
}

.main-nav__right-list {
  margin: 0;

  // @media (min-width: @mobile-width-only) {
  //   display: none;
  // }

  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 0;

    .site-list__item {
      justify-content: flex-end;
    }
  }
}
