.main-footer__description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  // text-align: center;
  margin: 0;
  margin-top: 29px;
}

.social {
  list-style-type: none;
  display: flex;
}

.main-footer__copyright {
  display: flex;

  &:hover {
    color: #81b3d2;
  }
  &:active {
    color: #b3b3b3;
  }
  &:hover svg {
    fill: #81b3d2;
  }
  &:active svg {
    fill: #b3b3b3;
  }
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-right: 13px;
  cursor: pointer;
}

.copyright__htmlacademy-logo {
  margin: 0;
  width: 27px;
  height: 35px;
  margin-left: auto;
  margin-bottom: 23px;
}
