.main-container {
  // width: 320px;

  // @media (min-width: @tablet-width) {
  //   width: 768px;
  // }
}

.main-container__background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/index/back-mobile3.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-width: 320px;
  height: 100%;
}
