.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-footer__description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin-top: 48px;
  }
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin-top: 36px;
  }
}

.social__item a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  margin-right: 6px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__copyright {
  display: flex;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:hover svg {
    fill: #81b3d2;
  }

  &:active svg {
    fill: #b3b3b3;
  }
}
