.main-header {
  background-color: #ffffff;
}

.main-nav__toggle {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggle svg {
  fill: #81b3d2;
}

.main-nav__toggle:hover svg {
  fill: rgba(129, 179, 210, 60%);
}

.main-nav__toggle:active svg {
  fill: rgba(129, 179, 210, 30%);
}

.main-nav__list {
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: rgba(0, 0, 0, 30%);
  }
}
