.map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.map__image {
  background-color: #ffffff;
  margin-top: 49px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
