.order-form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  // text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.order-form__item {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.order-form__label {
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.order-form__input {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__list-radio {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-form__radio-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.order-form__list-checkbox {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// .order-form__checkbox-input {
//   width: 20px;
//   height: 20px;
//   border: 1px solid #000000;
// }

.order-form__checkbox-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.order-form__text-area {
  margin: 0;
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 64px;
}

.order-form__submit {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 281px;
  height: 58px;
  margin: 0;
}
