.picture-list__item {
  margin: 0;
  margin-top: 24px;
}

.picture-list__link {
  text-decoration: none;
}

.picture-list__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 15px;
}

.picture-list__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  margin-top: 11px;
}

.picture-list__rating {
  display: flex;
  margin-top: 11px;
}

.picture-list__amount {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
}

.picture-list__rating-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}

.picture-list__image {
  background-color: #ffffff;
  margin: 0;
}
