.site-list__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: rgba(0, 0, 0, 30%);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-around;
    min-width: 768px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    min-width: 1200px;
    margin: 0;
  }
}
