.site-list {
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 12px;
  // filter: drop-shadow(0 0 1px rgba(1, 1, 1, 0.2));
  // border-top: 1px solid #ffffff;
  // border-bottom: 1px solid #ffffff;

  @media (min-width: @mobile-width-only) {
    color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding: 0;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: rgba(0, 0, 0, 30%);
    }
  }
}

.site-list__item {
  display: flex;
  align-items: center;

  @media (min-width: @mobile-width-only) {
    justify-content: center;
  }

  @media (min-width: @tablet-width) {
    min-width: 153px;
  }

  @media (min-width: @desktop-width) {
    min-width: 240px;
  }

  // &--indent-point {
  //   @media (min-width: @tablet-width) {
  //     margin-right: 153px;
  //   }

  //   @media (min-width: @desktop-width) {
  //     margin-right: 240px;
  //   }
  // }
}

// .site-list__link {
//   color: #000000;
//   text-decoration: none;
//   text-transform: uppercase;
//   font-weight: 700;

//   &:hover {
//     color: #81b3d2;
//   }

//   &:active {
//     color: rgba(0, 0, 0, 30%);
//   }
// }

// @media (min-width: @tablet-width) {
//   .site-list {
//     display: flex;
//     // justify-content: space-around;
//     min-width: 768px;
//     margin: 0;
//   }
// }

// @media (min-width: @desktop-width) {
//   .site-list {
//     min-width: 1200px;
//     margin: 0;
//   }
// }
